# This is a basic workflow to help you get started with Actions

name: Deploy

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

        # Install Salesforce CLI
    - name: Install Salesforce CLI
      run: |
          wget https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz
          mkdir sfdx-cli
          tar xJf sfdx-linux-amd64.tar.xz -C sfdx-cli --strip-components 1
          ./sfdx-cli/install

    - name: 'Retrieve secret'
      shell: bash
      run: 'echo ${{ secrets.TARGET_SFDXURL}} > ./SFDX_URL_STORE.txt'

    - name: 'Authenticate SFDX CLI'
      run: 'sfdx force:auth:sfdxurl:store --sfdxurlfile=./SFDX_URL_STORE.txt --setalias=target --setdefaultdevhubusername'

    - name: 'Install bourne plugin'
      run: 'echo y | sfdx plugins:install json-bourne-sfdx'

    - name: 'Deploy source'
      run: 'sfdx force:source:deploy -u target -p force-app'


